<h1>Edit Song Form</h1>

<%= form_for(@song) do |f| %>

    <%= f.label :name %><%= f.text_field :name %><br>
    <% @genres.each do |g| %>
        <%= f.label :genre_id %><%= f.number_field :genre_id %><br>
    <% end %>

    <% @artists.each do |g| %>
        <%= f.label :artist_id %><%= f.number_field :artist_id %><br>
    <% end %>

    <%= f.submit %>
    
<% end %>